<% if params[:controller] == 'all_events' %>
<div class="well">
		<h3>Učionice</h3>
		<ul>
			<li style="color:#FF0000">Glavni</li>
			<li style="color:#00FF00">Kafić</li>
			<li style="color:#0000FF">Mali kafić</li>
			<li style="color:#FFCC00">Mali glavni</li>
			<li style="color:#00FFFF">Veliki</li>
			<li style="color:#C0C0C0">Hodnik kod velikog</li>
		</ul>
	</div>
<% end %>